.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.mag {
  width: 100%;
  height: 720px;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.mag._1 {
  background-image: url('../images/Screenshot-2023-03-16-at-2.30.48-AM.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.mag._11 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-image: url('../images/Screenshot-2023-03-16-at-2.31.39-AM.png');
}

.mag._2 {
  background-image: url('../images/Screenshot-2023-03-16-at-2.30.55-AM.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.mag._3 {
  background-image: url('../images/Screenshot-2023-03-16-at-2.31.00-AM.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.mag._4 {
  background-image: url('../images/Screenshot-2023-03-16-at-2.31.07-AM.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.mag._5 {
  background-image: url('../images/Screenshot-2023-03-16-at-2.31.15-AM.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.mag._6 {
  background-image: url('../images/Screenshot-2023-03-16-at-2.31.19-AM.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.mag._7 {
  background-image: url('../images/Screenshot-2023-03-16-at-2.31.26-AM.png');
}

.mag._8 {
  background-image: url('../images/Screenshot-2023-03-16-at-2.31.29-AM.png');
}

.mag._9 {
  background-image: url('../images/Screenshot-2023-03-16-at-2.31.32-AM.png');
}

.mag._10 {
  background-image: url('../images/Screenshot-2023-03-16-at-2.31.36-AM.png');
}

.container {
  max-width: 1180px;
}

._100 {
  position: relative;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.lcm-body {
  font-family: Chase, sans-serif;
  font-size: 1rem;
  text-align: center;
}

.heading {
  font-weight: 300;
  text-transform: uppercase;
}

.heading-2 {
  font-weight: 300;
  font-size: 18px;
}

.button {
  border: 1px solid #000;
  border-radius: 3px;
  background-color: transparent;
  color: #000;
  font-size: 0.72rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}


@media screen and (max-width: 991px) {
  .mag {
    height: 586px;
  }
}

@media screen and (max-width: 767px) {
  .mag {
    height: 366px;
  }
}

@media screen and (max-width: 479px) {
  .mag {
    height: 244px;
  }
}


@font-face {
  font-family: 'Chase';
  src: url('../fonts/ChaseLight.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Chase';
  src: url('../fonts/ChaseBlack.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Chase';
  src: url('../fonts/ChaseBold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Chase';
  src: url('../fonts/ChaseRegular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
